---
import Layout, { PageType } from "../layouts/Layout.astro";

export type Article = {
	published_timestamp: string;
	social_image: string;
	cover_image: string;
	description: string;
	title: string;
	url: string;
};

const hasOverflow = false;
const page: PageType = "blog";
---

<Layout hasOverflow={hasOverflow} page={page} title="Welcome to my Blog.">
	<div class="md:w-5/6 p-4 w-full overflow-y-scroll">
		<h1 class="text-left block uppercase font-raleway font-bold text-3xl">
			Recent Articles
		</h1>
		<div
			id="ArticleContainer"
			class="grid grid-flow-row auto-rows-auto gap-6 mt-10"
		>
		</div>
	</div>
</Layout>

<script is:inline>
	fetch("/articles", {
		method: "GET",
	})
		.then((response) => response.json())
		.then((articlesRes) => {
			console.log(articlesRes);
			const articleContainer =
				document.querySelector("#ArticleContainer");
			let template = "";
			articlesRes.forEach((element) => {
				const tags = element.tag_list.map((tag) => `#${tag}`).join(' ');
				const article = `
					<a href='${element.url}' target='_blank'>
						<article>
							<h2>${element.title}</h2>
							<div class='flex justify-between'>
								<div class='text-slate-500'>
									${tags}		
								</div>
								<div class='text-slate-600 text-right'>
									${element.readable_publish_date}
								</div>
							</div>
						</article>
					</a>	
					<hr class='border-slate-600'>
				`;
				template += article;
			});
			articleContainer.innerHTML = template;
		});
</script>

